{#{% sw_extends '@Storefront/storefront/layout/navbar/navbar.html.twig' %}#}


{#{% block layout_navbar_menu_item %}#}
{#    {% set category = treeItem.category %}#}
{#    {% set id = category.id %}#}
{#    {% set name = category.translated.name %}#}
{#    {% set hasChildren = treeItem.children|length > 0 %}#}

{#    {% if category.type == 'folder' %}#}
{#        <li class="nav-item nav-item-{{ id }} {% if hasChildren %}dropdown position-static{% endif %}"#}
{#            data-mega-menu-cat-id="{{ id }}">#}
{#            <a class="nav-link nav-item-{{ id }}-link root main-navigation-link p-2{% if hasChildren %} dropdown-toggle{% endif %}"#}
{#               href="#"#}
{#               {% if hasChildren %}data-bs-toggle="dropdown"{% endif %}#}
{#               data-flyout-menu-trigger="{{ id }}"#}
{#               itemprop="url"#}
{#               title="{{ name }}">#}
{#                <span itemprop="name" class="main-navigation-link-text">{{ name }}</span>#}
{#            </a>#}

{#            {% if hasChildren %}#}
{#                <div class="dropdown-menu w-100 p-4">#}
{#                    #}{# AJAX will inject here #}
{#                    <div class="js-mega-menu-content" data-loaded="false"></div>#}
{#                </div>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% else %}#}
{#        <li class="nav-item nav-item-{{ id }} {% if hasChildren %}dropdown position-static{% endif %}"#}
{#            data-mega-menu-cat-id="{{ id }}">#}
{#            <a class="nav-link nav-item-{{ id }}-link root main-navigation-link p-2{% if hasChildren %} dropdown-toggle{% endif %}"#}
{#               href="{{ category.seoUrl }}"#}
{#               {% if hasChildren %}data-bs-toggle="dropdown"{% endif %}#}
{#                    {% if category.shouldOpenInNewTab %}target="_blank"{% endif %}#}
{#               itemprop="url"#}
{#               title="{{ name }}">#}
{#                <span itemprop="name" class="main-navigation-link-text">{{ name }}</span>#}
{#            </a>#}

{#            {% if hasChildren %}#}
{#                <div class="dropdown-menu w-100 p-4">#}
{#                    #}{# AJAX will inject here #}
{#                    <div class="js-mega-menu-content" data-loaded="false"></div>#}
{#                </div>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endif %}#}
{#{% endblock %}#}
{% sw_extends '@Storefront/storefront/layout/navbar/navbar.html.twig' %}

{% block layout_navbar_menu_item %}
    {% set categoryId = category.id %}
    {% set rootId = context.salesChannel.navigationCategoryId %}

{#    <li class="nav-item nav-item-{{ id }} {% if hasChildren %}dropdown position-static{% endif %}"#}
{#        data-mega-menu#}
{#        data-category-id="{{ categoryId }}"#}
{#        data-root-id="{{ rootId }}">#}

{#        <a class="nav-link nav-item-{{ id }}-link root main-navigation-link p-2{% if hasChildren %} dropdown-toggle{% endif %}"#}
{#           href="{{ category.seoUrl }}"#}
{#           {% if hasChildren %}data-bs-toggle="dropdown"{% endif %}#}
{#                {% if category.shouldOpenInNewTab %}target="_blank"{% endif %}#}
{#           itemprop="url"#}
{#           title="{{ name }}">#}
{#            <span itemprop="name" class="main-navigation-link-text">{{ name }}</span>#}
{#        </a>#}

{#        {% if hasChildren %}#}
{#            <div class="dropdown-menu w-100 p-4 mega-menu-container">#}
{#                <div class="mega-menu-loading">Loading...</div>#}
{#            </div>#}
{#        {% endif %}#}
{#    </li>#}
    <li class="nav-item nav-item-{{ id }} {% if hasChildren %}dropdown position-static{% endif %}"
        data-mega-menu-cat-id="{{ id }}"
        data-mega-menu-root-id="{{ context.salesChannel.navigationCategoryId }}">

        <a class="nav-link main-navigation-link" href="{{ category.seoUrl }}">
            {{ name }}
        </a>

        {% if hasChildren %}
            <div class="dropdown-menu w-100 p-4 js-mega-menu-content"
                 data-loaded="false">
                <!-- Filled by AJAX -->
            </div>
        {% endif %}
    </li>
    <script>
        window.salesChannelAccessKey = '{{ context.salesChannel.accessKey }}';
    </script>

{% endblock %}
