{% sw_extends '@Storefront/storefront/layout/navbar/navbar.html.twig' %}

{% block layout_navbar_menu_item %}
    {% set categoryId = category.id %}
    {% set rootId = context.salesChannel.navigationCategoryId %}
    {% set itemsPerCol = config('MegaMenuSolution25.config.itemsPerColumn')|default(3) %}
    {% set imageSize = config('MegaMenuSolution25.config.imageSize')|default('m') %}
    <li class="nav-item nav-item-{{ id }} {% if hasChildren %}dropdown position-static{% endif %}"
        data-mega-menu-cat-id="{{ id }}"
        data-mega-menu-root-id="{{ context.salesChannel.navigationCategoryId }}"
        data-sw-access-key="{{ context.salesChannel.accessKey }}"
        data-items-per-col="{{ itemsPerCol }}"
        data-image-size="{{ imageSize }}">

        <a class="nav-link main-navigation-link" href="{{ category.seoUrl }}">
            {{ name }}
        </a>

        {% if hasChildren %}
            <div class="dropdown-menu w-100 p-4 js-mega-menu-content"
                 data-loaded="false">
            </div>
        {% endif %}
    </li>



{% endblock %}
